// bower:scss
// endbower

body {
	background: #959595;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	overflow: hidden;
}

.invisible {
	display: none !important;
}

#hud-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

#hud-container > .widget-container,
#hud-container > .widget-set
{
	position: absolute;
}

.widget-set#view-metrics
{
	bottom: 26px;
}

.widget-container {
	display: inline-block;
	background: rgba(255, 255, 255, .25);
	margin-right: 5px;
	padding: 5px 10px;
}

.widget-container > h1 {
	color: white;
	margin: 0;
	-webkit-text-stroke: 2px black;
	padding: 0;
}

.widget-container > h2 {
	color: black;
	font-size: 18px;
	margin: 0 0 -10px;
	padding: 0;
}

.widget-container.tile-palette {
	top: 10px;
	left: 10px;
	width: 128px;
	height: 128px;
	background-color: white;
	border-radius: 5px;
}

.widget-container.status-line {
	width: 100%;
	height: 25px;
	background-color: rgba(0, 0, 0, .8);
	display: inline-block;
	margin-top: 5px;
	margin-bottom: -3px;
	padding: 0 0 0 42px;
	bottom: 0;

	* {
		display: inline-block;
	}

	div#logo {
		position: absolute;
		font-size: 32px;
		left: 3px;
		bottom: -5px;
		width: 32px;
	}

	h1, h2 {
		-webkit-text-stroke: 0px;
		color: white;
		font-weight: 400;
		font-size: 18px;
		margin: 0;
		display: inline-block;
	}

	p {
		margin: 0;
		padding: 0 5px;
		color: #959595;
		font-size: 18px;
	}
;

	h1.path-component.none {
		color: #959595;
	}

	.primary {
		color: cornflowerblue;
	}

	.secondary {
		color: greenyellow;
	}

	.primary-bg {
		background-color: transparentize(cornflowerblue, 0.75);
	}

	.secondary-bg {
		background-color: transparentize(greenyellow, 0.75);
	}

	div#selection-display {
		background-color: rgba(255, 255, 255, .1);
		margin-left: 10px;

		h2 {
			font-size: 14px;
			font-weight: 100;
		}

		p {
			font-weight: 900;
			font-size: 14px;
			padding: 2px;
		}
	}
}

