// bower:scss
// endbower

body {
	background: #959595;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	overflow: hidden;
}

.invisible
{
	display: none;
}

#hud-container
{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}


.widget-container
{
	display: inline-block;
	background: rgba(255,255,255, .25);
	margin-right: 5px;
	padding: 5px 10px;
}

.widget-container > h1
{
	color: white;
	margin: 0;
	-webkit-text-stroke: 2px black;
	padding: 0;
}

.widget-container > h2
{
	color: black;
	font-size: 18px;
	margin: 0 0 -10px;
	padding: 0;
}

.widget-container.status-line
{
	width: 100%;
	height: 28px;
	background-color: rgba(0,0,0,.8);
	display: inline-block;
	margin-top: 5px;
	margin-bottom: -3px;
	padding: 0;

	*
	{
		display: inline-block;
	}

	div#logo
	{
		padding-left: 3px;
		padding-right: 3px;
		margin-right: 10px;
	}

	h1
	{
		-webkit-text-stroke: 0px;
		color: white;
		font-weight: 400;
		font-size: 18px;
		margin: 0;
		display: inline-block;
	}

	p
	{
		margin: 0;
		padding: 0 5px;
		color: #959595;
		font-size: 18px;
	};

	h1.path-component.none
	{
		color: #959595;
	}

	h1.path-component.primary
	{
		color: cornflowerblue;
	}

	h1.path-component.secondary
	{
		color: greenyellow;
	}
}

